* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container-acoes {
    width: 85%;
    height: 100%;
    margin-left: 12%;
}

/* Estilo de cadastro de produtos */
.container-acoes .cadastrar-produto {
    display: block;
    width: 90%;
    height: 100%;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 5px;
}

.cadastrar-produto .header-cad-produto {
    display: flex;
    background-color: #07071c;
    color: #fff;
}

.header-cad-produto i {
    margin: 10px;
    font-size: 22px;
}

.cadastrar-produto h2 {
    margin: 10px;
}

form input {
    border: 1px solid #aaa;
    padding: 10px;
    margin-bottom: 10px;
}

form .two-input {
    display: flex;
    flex-wrap: wrap;
}

.two-input .single-input {
    flex: 1;
    margin: 10px;
}

.single-input input {
    width: 100%;
}

form .cancel-confirm {
    text-align: end;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    margin-top: 10px;
}

form .cancel-confirm #cancelar,
form .cancel-confirm #confirmar {
    padding: 10px 25px;
    width: 130px;
    cursor: pointer;
    color: #fff;
}

form .cancel-confirm #cancelar {
    background-color: #a10e18;
}

form .cancel-confirm #confirmar {
    background-color: rgb(4, 139, 4);
    margin-right: 15px;
}

@media only screen and (max-width: 768px) {
    .container-acoes .cadastrar-produto {
        width: 85%;
    }
}

/*Estilo do box de mensagem de sucesso de cadastro*/
.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.message-container {
    text-align: center;
}

/* Estilo adicional para o botão */
.btn-msg {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}