*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

.container-menu{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 15%;
    min-width: 100px;
    background-color: #242C37;
}

.container-menu .active{
    background-color: #434343;
    color: #ccc;
}

.container-menu > button{
    padding: 15px 20px;
    background-color: #242C37;
    color: #ccc;
    font-size: 18px;
    text-align: start;
    border: none;
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    cursor: pointer;
}

.container-menu button i{
    margin-right: 10px;
}

.container-menu > div > button{
    width: 100%;
    margin-top: 30%;
    padding: 15px 20px;
    background-color: #242C37;
    color: #ccc;
    font-size: 18px;
    text-align: start;
    border: none;
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    cursor: pointer;
}

.container-acoes{
    margin-left: 15%;
    width: 85%;
    height: 100%;
}

/*Estilo de cadastro de produtos*/
.container-acoes .cadastrar-produto{
    display: block;
    width: 90%;
    height: calc(100% - 20px);
    margin: 10px 2%;
    background-color: #fff;
    border-radius: 5px;
}

.cadastrar-produto .header-cad-produto{
    margin-top: -1px;
    display: flex;
    background-color: #07071c;
    color: #fff;
}

.header-cad-produto i{
    margin: 10px 10px;
    font-size: 22px;
}

.cadastrar-produto h2{
    margin: 10px 10px;
}

form input{
    border: 1px solid #aaa;
}

form .two-input{
    display: flex;
}

.two-input .single-input{
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
}

.single-input-icon{
    position: relative;
}

.single-input i{
    position: absolute;
    top: 18.8px;
    background-color: #4548f7;
    right: 0px;
    padding: 4.8px 6px;
}

.single-input #cod-produto{
    padding: 5px 10px;
    width: 200px;
}

.single-input #descricao{
    padding: 4px 10px;
    width: 550px;
}

.single-input label{
    color: black;
}

.single-input #data-atualizacao{
    padding: 5px 10px;
    width: 550px;
}

.single-input #preco-custo{
    padding: 5px 10px;
    width: 200px;
}

.single-input #fornecedor{
    padding: 5px 10px;
    width: 550px;
}

.single-input #marca{
    padding: 5px 10px;
    width: 200px;
}

.single-input #ipi{
    padding: 5px 10px;
    width: 200px;
}

.single-input #lucro{
    padding: 5px 10px;
    width: 550px;
}

.single-input #preco-venda{
    padding: 5px 10px;
    width: 200px;
}

.single-input #qtde-minima{
    padding: 5px 10px;
    width: 550px;
}

form .cancel-confirm{
    text-align: end;
    margin-left: 0.8%;
    width: 98.5%;
    padding: 10px 0;
    border: 1px solid #ccc;
}

form .cancel-confirm #cancelar{
    padding: 7px 25px;
    width: 130px;
    background-color: #a10e18;
    border: none;
    cursor: pointer;
    color: #fff;
}

form .cancel-confirm #confirmar{
    padding: 6px 25px;
    width: 130px;
    background-color: rgb(4, 139, 4);
    border: none;
    cursor: pointer;
    color: #fff;
    margin-right: 15px;
}